
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Poppins&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    scrollbar-width: none;
}

html, body {
 height: 100%;
 width: 100%;
}

.jersey{
 font-family: "Jersey 25", sans-serif;
}

.ubuntu {
 font-family: "Ubuntu"
}

/* custom slidebar */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
  border: .1px solid white;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: rgb(11, 11, 11);
  border-radius: 16px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: #000000;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #000000;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: -407px 0 0 400px rgb(255, 255, 255);
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -407px 0 0 400px rgb(255, 255, 255);
}



/* flash msg */
.share-fm {
  background-color: #222; /* Black background */
  color: #fff; /* White text */
  padding: 1rem; /* Padding for spacing */
  border-radius: 5px; /* Rounded corners */
  margin: 1rem 0; /* Margin for spacing */
  display: flex; /* Allow for alignment of content */
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Horizontally space content */
}